html,body{
/*background-image: url('../images/console.jpg');*/
background-color: green;
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: "Times New Roman", Times, serif;
}
.mycustom {

	
	color: black;
	font-size: 44;
	font-family: "Times New Roman", Times, serif;
	font-weight: bold;
	text-align: center;
	min-height: 20px;
}
.footer a{
	color: black;
	font-weight: bold;

}